{% extends 'index.html' %}
{% block title %}Sobre - RecyPlay{% endblock title %}

{% block content %}

<h1 class="display-4 text-center my-5">Sobre o projeto</h1>

<main>
    <div class="container col-md-8 col-sm-12">
        <section class="app-description">
            <h2>Bem vindo ao RecyPlay</h2>
            <p>
                RecyPlay é um aplicativo da web interessante que traz para você os tópicos de quiz mais recentes e interessantes do mundo da reciclagem. Inscreva-se agora para desafiar seu conhecimento, aprender coisas novas e se divertir com nossos quizzes envolventes.
            </p>
        </section>

        <section class="how-it-works">
            <h2>Como funciona</h2>
            <p>
                RecyPlay oferece uma interface de usuário simples e intuitiva que permite:
            </p>
            <ul>
                <li>Cadastra-se e criar sua conta personalizada.</li>
                <li>Escolher entre uma variedade de tópicos no domínio da reciclagem</li>
                <li>Participar de quizzes por tempo limitado e responder a perguntas para se classificar no RecyPlay.</li>
                <li>Acompanhar seu progresso e concorrer com outros amantes do meio ambiente na tabela de classificação</li>
            </ul>
        </section>
    </div>
</main>

{% endblock content %}