{% extends 'index.html' %}
{% block title %}Blogs - RecyPlay{% endblock title %}

{% block content %}

<h1 class="display-4 text-center my-5 fw-bold"  style="color: #00BF13">Blogs</h1>

<main>
    <div class="container col-md-6 col-sm-12">

        {% for year_count in year_blog_count %}
            {% for blog in blogs %}
                {% if blog.created_at|date:"Y" == year_count.year|stringformat:"s" %}
                    <div class="list-group" >
                        <a href="{% url 'blog' blog.id %}" class="list-group-item list-group-item-action " style="color: #FF6B35;" aria-current="true">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{blog.title}}</h5>
                        </div>
                        <p class="mb-2 " style="color: #29335C;">Criado em {{blog.created_at}}</p>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
    
</main>

{% endblock content %}