{% extends 'index.html' %}
{% block title %}{{blog.title}} - RecyPlay{% endblock title %}

{% block content %}

<h1 class="display-4 text-center my-5 fw-bold " style="color: #00BF13">{{blog.title|title}}</h1>

<main>
    <div class="container col-md-8 col-sm-12">
        <div class="d-flex justify-content-between">
            <div>
                <sub class="fw-bold" style="color: #FF6B35">Autor</sub><br>
                {%if blog.author.first_name%}
                    <a class="fw-bold" style="color: #FF6B35" href="{% url 'profile' blog.author.username %}">{{blog.author.first_name}}</a>
                {%else%}
                    <a href="{% url 'profile' blog.author.username %}">@{{blog.author.username}}</a>
                {%endif%}
                
            </div>
            <div>
                <sub class="fw-bold" style="color: #FF6B35">Publicados</sub><br>
                <span class="fw-bold" style="color: #FF6B35">{{blog.created_at|timesince}} atrás</span>
            </div>
        </div>
        <article class="blog-post ">
            {{blog.content|safe}}
        </article>
    </div>
</main>

{% endblock content %}