{% extends 'index.html' %}

{% block title %}@{{request.user.username}} Confirmação de exclusão de perfil - RecyPlay{% endblock title %}

{% block content %}


<h1 class="display-4 text-center my-5">Página de confirmação</h1>

  <div class="container">
    <form action="" method="POST" class="">
        {% csrf_token %}
        <p class="fs-4"><b>@{{request.user.username}}</b>, Tem certeza de que deseja excluir seu perfil?</p>
        <a href="{% url 'profile' request.user.username %}" class="btn btn-success" type="button">Voltar ao perfil</a>
        <input class="btn btn-danger" type="submit" value="Confirmar">
    </form>
  </div>

{% endblock content %}