{% extends 'index.html' %}
{% block title %}Downloads - RecyPlay{% endblock title %}

{% block content %}
<h1 class="display-4 text-center my-5 fw-bold"  style="color: #00BF13">Feedback</h1>

<main>
    <div class="container col-md-8 col-sm-12">
        <div class="download-item mb-4">
            <h2>Avaliação do sistema RecyPlay</h2>
            <p>Estamos desenvolvendo o RecyPlay, um inovador sistema gamificado de aprendizagem voltado para promover a reciclagem e a sustentabilidade, como parte do meu Trabalho de Conclusão de Curso (TCC). A sua opinião é essencial para que seja possivel melhorar e aperfeiçoar este projeto acadêmico, tornando-o mais eficaz e acessível para todos.</p>
            <p>Clique no Botão abaixo para acessar o questionário de avaliação. Sua participação é rápida, fácil e extremamente importante para mim! Desde já, agradecemos pela sua contribuição para o sucesso do nosso TCC e para um futuro mais sustentável.</p>
            <a href="https://forms.gle/nxLXaPvTNqhNoFsR9" class="btn btn-secondary " style= "background-color: #29335C">Formulário</a>
            <hr>
        </div>
    </div>
</main>

{% endblock content %}