{% extends 'index.html' %}

{% block title %}Termos e Condições - RecyPlay{% endblock title %}

{% block content %}

<h1 class="display-4 text-center my-5 fw-bold" style="color: #00BF13">Termos e Condições </h1>


<main>
    <div class="container col-md-8 col-sm-12 " style="color: #29335C">
        <h2>1. Introdução</h2>
        <p>
            Bem-vindo ao RecyPlay. Ao acessar e usar este aplicativo da web, você aceita e concorda em ficar vinculado a estes
            termos e Condições.
            Se você não concorda com alguma parte destes termos, não use o aplicativo.
        </p>

        <h2>2. Contas de usuário</h2>
        <p>
            2.1 Para acessar determinados recursos do aplicativo, pode ser necessário criar uma conta de usuário.
            2.2 Você é responsável por manter a confidencialidade das credenciais de sua conta e por todos
            atividades que ocorrem em sua conta.
            2.3 Você deve ter pelo menos 13 anos para usar este aplicativo.
        </p>

        <h2>3. Conteúdo</h2>
        <p>
            3.1 O RecyPlay pode incluir conteúdo gerado pelo usuário, incluindo perguntas e respostas de questionários.
            3.2 Você concorda em não fazer upload, postar ou transmitir qualquer conteúdo que seja ofensivo, prejudicial ou que viole qualquer direitos de terceiros.
            3.3 RecyPlay reserva-se o direito de remover qualquer conteúdo que viole estes termos sem aviso prévio.
        </p>

        <h2>4. Propriedade intelectual</h2>
        <p>
            4.1 Todos os direitos de propriedade intelectual do aplicativo, incluindo questionários e conteúdo, são de propriedade da RecyPlay
            ou seus licenciantes.
            4.2 Você não pode usar, reproduzir ou distribuir qualquer conteúdo do aplicativo sem obter permissão do
            os respectivos proprietários.
        </p>

        <h2>5. Isenção de responsabilidade</h2>
        <p>
            5.1 RecyPlay fornece o sistema "no estado em que se encontra", sem garantias de qualquer tipo.
            5.2 Não garantimos a exatidão, integridade ou confiabilidade do conteúdo.
            5.3 O uso do aplicativo é por sua conta e risco, e a BrainBunny não será responsável por quaisquer danos decorrentes
            do uso do sistema.
        </p>

        <h2>6. Mudanças nos Termos</h2>
        <p>
            6.1 RecyPlay reserva-se o direito de modificar estes termos e condições a qualquer momento.
            6.2 Quaisquer alterações entrarão em vigor imediatamente após a publicação nesta página.
            6.3 O uso continuado do sistema após as alterações constitui aceitação dos termos atualizados.
        </p>
    </div>
</main>

{% endblock content %}